body {
    background: #a81717;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#weather-container {
    background: rgba(255, 255, 255, 0.25);
    max-width: 400px;
    width: 90%;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 15px;
}

input {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 15px;
    font-size: 15px;
}

button {
    background: #debff4;
    color: #fff;
    padding: 10px;
    border: none;
    margin: 15px 5px;
    width: 100px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #8b48d7;
}

#weather-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
}

#weather-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    display: block;
}

#temp-display {
    font-size: 60px;
    color: #fff;
    margin: 10px 0;
}

#city-display {
    font-size: 25px;
    color: #fff;
    margin: 5px 0;
}

#condition-display {
    font-size: 20px;
    color: #fff;
    margin: 5px 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;      
    background-color: #15e231; 
}
